<% layout("/layouts/boilerplate") -%>
<body>
  <div class="eachblog">
    <h2><%= singledata.title %></h2>
    <li><%= singledata.description %></li>
    <li><%= singledata.author %></li>
    <div class="eandd">
      <form action="/<%= singledata._id %>/editblog" method="POST">
        <button type="submit" class="btn btn-outline-warning">Edit Blog</button>
      </form>
      <form action="/<%= singledata._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-outline-danger">
          Delete Blog
        </button>
      </form>
    </div>

    <form method="POST" action="/<%= singledata._id %>/comment">
      <h4>Comment :</h4>
      <div class="form-floating">
        <textarea
          class="form-control mb-3 p-2"
          style="height: 10px"
          name="comment"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-secondary">Add Comment</button>
    </form>
  </div>
  <h4>All Comments</h4>
  <div class="container">
    <div class="row">
      <% for (comment of singledata.comments) { %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text"><%= comment.comment %></p>
            <form
              action="/<%= singledata._id %>/comment/<%= comment._id %>?_method=DELETE"
              method="POST"
              style="display: inline"
            >
              <button
                type="submit"
                class="btn btn btn-danger"
                onclick="return confirm('Are you sure you want to delete this comment?');"
              >
                Delete Comment
              </button>
            </form>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</body>
